/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Rubik:wght@300;500&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --primary-dark: #14936f;
  --bulk: #ec9a30;
  --bulk-dark: #c78227;
  --error: #e7195a;
  --title: #333;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}

nav button {
  background: #fff;
  color: var(--bulk);
  border: 2px solid var(--bulk);
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}

nav button:hover{
  color: #fff;
  background-color: var(--bulk);
}

header {
  background: #fff;
}
header .container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
}

.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.todoDetails {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05,);
}
.todoDetails h4 {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
  color: var(--title);
}

.todoDetails p{
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.todoDetails span{
  position: absolute;
  padding: 5px;
  padding-bottom: 2px;
  top: 20px;
  right:20px;
  cursor: pointer;
  background: #f1f1f1;
  border-radius: 5px;
  color: #333;
}

.todoDetails .trashBtn{
  top: 20px;
  right:20px;
}

.todoDetails .editBtn{
  right: 55px;
}

/* todo form */
label, input{
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button{
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
}

form button:hover{
  background: var(--primary-dark);
}

div.error{
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}
/* bulk edit button */
button{
  background: var(--bulk);
  border: 0;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
}

button:hover{
  background: var(--bulk-dark);
}

form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

